<h6>{{ title }}</h6>
<div>
  <span class="font-weight-bold mr-1">City</span>
  {{ city }}
</div>
<div>
  <span class="font-weight-bold mr-1">Address</span>
  {{ address }}
</div>
<div>
  <span class="font-weight-bold mr-1">Postcode</span>
  {{ zip }}
</div>
<div *ngIf="url.length">
  <span class="font-weight-bold mr-1">WWW</span>
  <a [href]="url" target="_blank">{{ url }}</a>
</div>
<div>
  <span class="font-weight-bold mr-1">Start year</span>
  {{ year }}
</div>