<div class="container pt-3">
  <div *ngIf="establishment; else notExists" class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ establishment.title }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <h1 class="mb-5">{{ establishment.title }}</h1>
    </div>
    <div class="col-12">
      <span class="font-weight-bold mr-1">City</span>
      {{ establishment.location.city }}
    </div>
    <div class="col-12">
      <span class="font-weight-bold mr-1">Address</span>
      {{ establishment.location.adress }}
    </div>
    <div class="col-12">
      <span class="font-weight-bold mr-1">Postcode</span>
      {{ establishment.location.zipcode }}
    </div>
    <div class="col-12">
      <span class="font-weight-bold mr-1">Start year</span>
      <span *ngIf="establishment.dates.startdate; else noDate">
        {{ getFormattedDate(establishment.dates.startdate) | date:'yyyy' }}
      </span>
      <ng-template #noDate>
        UNKNOWN
      </ng-template>
    </div>
    <div *ngIf="establishment.urls.length" class="col-12">
      <span class="font-weight-bold mr-1">WWW</span>
      <a *ngFor="let url of establishment.urls" [href]="url" target="_blank">{{ url }}</a>
    </div>
    <div *ngIf="establishment.media.length" class="col-12">
      <h4 class="mt-5 mb-3">Images</h4>
      <img *ngFor="let img of establishment.media" [src]="img.url" class="img-fluid mb-3" />
    </div>
  </div>
  <ng-template #notExists>
    <div class="alert alert-danger" role="alert">
      Item does not exists!
    </div>
  </ng-template>
</div>