<div class="container">
  <div class="d-flex flex-wrap justify-content-between py-3">
    <div class="d-flex flex-wrap align-items-center">
      <input [(ngModel)]="filterByName" (ngModelChange)="doFilter()" type="text" placeholder="Filter by name" class="input">
      <ng-multiselect-dropdown
        class="dropdown-selector"
        placeholder="Filter by City"
        [settings]="dropdownSettings"
        [data]="cities"
        [(ngModel)]="selectedCities"
        (onSelect)="doFilter()"
        (onDeSelect)="doFilter()"
      >
      </ng-multiselect-dropdown>
      <input [(ngModel)]="filterByZip" (ngModelChange)="doFilter()" type="text" placeholder="Filter by postcode" class="input">
      <select [(ngModel)]="selectedYear" class="select" (ngModelChange)="doFilter()">
        <option *ngFor="let year of startYears; let idx = index" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div>
      <button (click)="toggleView()" class="btn btn-primary">Change view</button>
    </div>
  </div>
  <div *ngIf="showTable; else googleMap">
    <div class="row d-none d-lg-flex">
      <div class="col-lg-4">
        <strong>Name</strong>
      </div>
      <div class="col-lg-2">
        <strong>City</strong>
      </div>
      <div class="col-lg-1">
        <strong>Postcode</strong>
      </div>
      <div class="col-lg-3">
        <strong>Address</strong>
      </div>
      <div class="col-lg-2">
        <strong>Start year</strong>
      </div>
    </div>
    <div *ngFor="let idx = index; let establishment of filteredEstablishments | paginate: { itemsPerPage: 5, currentPage: page }" class="row border py-3 my-3">
      <div class="col-lg-4">
        <span class="d-inline-block d-lg-none font-weight-bold mr-1">Name</span>
        <a [routerLink]="'details/' + idx">{{ establishment.title }}</a>
      </div>
      <div class="col-lg-2">
        <span class="d-inline-block d-lg-none font-weight-bold mr-1">City</span>
        {{ establishment.location.city }}
      </div>
      <div class="col-lg-1">
        <span class="d-inline-block d-lg-none font-weight-bold mr-1">Postcode</span>
        {{ establishment.location.zipcode }}
      </div>
      <div class="col-lg-3">
        <span class="d-inline-block d-lg-none font-weight-bold mr-1">Address</span>
        {{ establishment.location.adress }}
      </div>
      <div *ngIf="establishment.dates.startdate; else noDate" class="col-lg-2">
        <span class="d-inline-block d-lg-none font-weight-bold mr-1">Start year</span>
        {{ getFormattedDate(establishment.dates.startdate) | date:'yyyy' }}
      </div>
      <ng-template #noDate>
        <div class="col-lg-2">UNKNOWN</div>
      </ng-template>
    </div>
    <pagination-controls (pageChange)="page = $event" [autoHide]="true" [responsive]="true" class="d-block mt-5"></pagination-controls>
  </div>
  <ng-template #googleMap>
    <google-map width="100%" [center]="{ lat: 52.370216, lng: 4.895168 }" [zoom]="13">
      <map-marker
        #mapMarker="mapMarker"
        *ngFor="let establishment of filteredEstablishments"
        [position]="getGeoCoords(establishment.location.latitude, establishment.location.longitude)"
        [title]="establishment.title"
        (mapClick)="openMapInfo(mapMarker, establishment)"
      >
      </map-marker>
      <map-info-window>
        <app-map-info
          [title]="mapInfoDetails.title"
          [city]="mapInfoDetails.city"
          [address]="mapInfoDetails.address"
          [zip]="mapInfoDetails.zip"
          [url]="mapInfoDetails.url"
          [year]="mapInfoDetails.year"
        >
        </app-map-info>
      </map-info-window>
    </google-map>
  </ng-template>
</div>